*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Algi-Sans-Medium";
    src: url(../fonts/AlegreyaSans-Medium.ttf);
}

@font-face {
    font-family: "Algi-SC-Medium";
    src: url(../fonts/AlegreyaSC-Medium.ttf);
}

@font-face {
    font-family: "Algi-SC-Regular";
    src: url(../fonts/AlegreyaSC-Regular.ttf);
}

@font-face {
    font-family: "Nixie";
    src: url(../fonts/NixieOne-Regular.ttf);
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #6a6a6a;
}

h1{
    font-family: "Nixie";
    font-size: 2.5rem;
}

h2{
    font-family: "Algi-Sans-Medium";
    font-size: 2.25rem;
}

h3{
    font-family: "Algi-Sans-Medium";
    font-size: 2rem;
}

img{
    max-width: 100%;
}

main{
    background-color: #f1f0f0;
}

.works, .blog, .testimonials{
    width: 80%;
    margin: auto;
}

.hero, .service, .qoute, .contact{
    width: 100%;
    margin: 0 auto;
}

/* 

#3A4F52

#02383A

#4DA7CA


*/

/* PARALAX */

.services, .quote, .contact{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    align-content: center;
}

.service-wrapper, .quote-wrapper, .contact-wrapper{
    background-color: rgba(0, 0, 0, 0.3);
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 2em;
}

.service-wrapper p, .quote-wrapper p, .contact-wrapper p{
    color: #fff;
}

/* PARALAX END */

/* BUTTON */

.quote-btn, .btn-submit{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 1em 2em;
    cursor: pointer;
}

.quote-btn:hover, .btn-submit:hover{
    background-color: #fff;
    color: #3A4F52;
}

/* HEADER - NAV */
/* HERO */
/* WORK */
/* SERVICES */
/* BLOG */
/* QUOTE */
/* TESTIMONIALS */
/* CONTACT */
/* FOOTER */


/* HEADER & NAV */

header nav{
    padding: 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header nav .logo a{
    color: white;
    font-size: 2.25rem;
    font-family: "Algi-SC-Medium";
    text-decoration: none;
}

.logo a:hover{
    text-decoration: underline;
}

/* HERO */

.hero {
    background-image: url(../img/hero.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: -100px;
    }
    
    .hero hgroup {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 70%;
        color: white;
    }
    .hero hgroup h1 {
        font-family: "Nixie";
        font-weight: 100;
        text-transform: uppercase;
    }
    .hero hgroup p {
        font-family: "Algi-SC-Regular";
    }

/* WORK */

.work .section-headline-cta, 
.blog .section-headline-cta {
    color: #3A4F52;
    display: flex;
    justify-content: space-between;
    gap: 2.5em;
    padding: 10% 2%;
}
.work .section-headline-cta hgroup h2,
.blog .section-headline-cta hgroup h2,
.work .section-headline-cta hgroup p,
.blog .section-headline-cta hgroup p{
    margin-bottom: 5%;
}

.work .section-headline-cta button,
.blog .section-headline-cta button {
    border: 1px solid #3A4F52;
    height: 3.5em;
    width: 7em;
    margin-left: -10%;
    color: #3A4F52;
}

.work .section-headline-cta button:hover,
.blog .section-headline-cta button:hover {
    border: 1px solid #3A4F52;
    color: #fff;
    background-color: #3A4F52;
    cursor: pointer;
}

.works-gallery .gallery-item  {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
}

.gallery-btn {
    display: none;
    padding: 2% 3%;
    color: white;
    background-color: Transparent;
    border: 1px solid white;
    font-family: Arial, Helvetica, sans-serif;
}

.works-gallery .gallery-item-one {
    background-image: url(../img/works-01.jpg);
    height: 35vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.works-gallery .gallery-item-two {
    background-image: url(../img/works-02.jpg);
    height: 35vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.works-gallery .gallery-item-three {
    background-image: url(../img/works-03.jpg);
    height: 35vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.works-gallery .gallery-item-four {
    background-image: url(../img/works-04.jpg);
    height: 35vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.works-gallery .gallery-item-five {
    background-image: url(../img/works-05.jpg);
    height: 35vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.works-gallery .gallery-item-six {
    background-image: url(../img/works-06.jpg);
    height: 35vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/*
.gallery-item{
    height: 35vh;
    width: 100%;
    overflow: hidden;
}

.gallery-item-child{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: all .5s;
}

.g-i-one{
    background-image: url(../img/works-01.jpg);
}

.g-i-two{
    background-image: url(../img/works-02.jpg);
}

.g-i-three{
    background-image: url(../img/works-03.jpg);
}

.g-i-four{
    background-image: url(../img/works-04.jpg);
}

.g-i-five{
    background-image: url(../img/works-05.jpg);
}

.g-i-six{
    background-image: url(../img/works-06.jpg);
}    

.gallery-item:hover .gallery-item-child{
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
    background-color:#02383abc;
    background-blend-mode: overlay;
    cursor: pointer;
    .gallery-btn {
        display: block;
    }
    .gallery-btn:hover {
        color: #3A4F52;
        background-color: white;
        cursor: pointer;
    }
}
*/


.gallery-item:hover {
    transition: all 0.5s ease-in-out;
    background-color:#02383abc;
    background-blend-mode: overlay;
    cursor: pointer;
    .gallery-btn {
        display: block;
    }
    .gallery-btn:hover {
        color: #3A4F52;
        background-color: white;
        cursor: pointer;
    }
}





/* SERVICES */
.services{
    background-image: url(../img/service-01.jpg);
    height: 130vh;
}

.service-details{
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 3em;
}

.service-detail-item{
    width: 90%;
}

.service-icon{
    max-width: 15%;
}

/* BLOG */

.blog-item{
    padding: 2em 0;
}

.blog-item > h3{
    color: #3A4F52;
    margin-bottom: 0.5em;
}

.blog-item-date{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 0.8rem;
    color: #6a6a6a;
}

.blog-item-text{
    font-size: 0.9rem;
    margin: 0.5em 0;
}

.blog-item-link{
    color: #4DA7CA;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.blog-item-link:hover{
    text-decoration: underline;
}

.blog-item-img{
    background-position: center;
    background-size: cover;
    margin-bottom: 1em;
}

.bii-one{
    background-image: url(../img/blog-01.jpg);
    height: 30vh;
}

.bii-two{
    background-image: url(../img/blog-02.jpg);
    height: 32vh;
}

.bii-three{
    background-image: url(../img/blog-03.jpg);
    height: 34vh;
}


/* QUOTE */

.quote{
    background-image: url(../img/quote-01.jpg);
    height: 100vh;
}

.quote-text{
    font-family: "Algi-Sans-Medium";
    font-size: 2rem;
    line-height: 3rem;
}

/* TESTIMONIALS */

.testimonials {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.testimonials-hedline {
    padding: 5% 0 10% 0;
    font-family: "Algi-Sans-Medium";
    color: #3A4F52;
}

.testimonial-img-one {
    background-image: url(../img/person1.png);
    height: 20vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.testimonial-img-two {
    background-image: url(../img/person2.png);
    height: 20vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.testimonial-img-three {
    background-image: url(../img/person3.png);
    height: 20vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.testimonials-img , .testimonials-item p {
    margin-bottom: 5%;
}

.testimonials-item h5 , .testimonials-item span{
    margin-bottom: 3%;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #6a6a6a;
}
.testimonials-item  {
    margin-bottom: 10%;
}


/* CONTACT */

.contact{
    background-image: url(../img/contact.jpg);
    height: 70vh;
}

form{
    margin-top: 2em;
}

input[type=text], input[type=email], textarea{
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    width: 100%;
    border-radius: 5px;
    padding: 1em;
    margin: 0.5em 0;
}

textarea{
    min-height: 100px;
}

textarea::placeholder{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}


/* FOOTER */

footer{
    background-color: #2B3E51;
    height: 20vh;
    text-align: center;
    align-content: center;
}

footer p{
    color: #fff;
}

/* --- RESPONSIVE STYLES --- */


/* TABLET */
@media screen and (min-width: 768px) {

    .services{
        height: 90vh;
    }

    .blog-gallery{
        display: flex;
        gap: 2em;
    }

    .bii-one{
        height: 18vh;
    }
    
    .bii-two{
        height: 20vh;
    }
    
    .bii-three{
        height: 22vh;
    }
    
    .quote{
        height: 50vh;
    }

    /* --- */

    .hero {
        height: 100%;
        background-size: contain;
        margin-top: -32%;
        }
    .hero hgroup h1 {
        margin-top: -35%;
        font-size: 3.5rem;
    }
    .hero hgroup p {
        color: rgba(255, 255, 255, 0.409);
        font-size: 1.4rem;
    }
    .work .section-headline-cta {
        justify-content: space-between;
        padding: 0 2% 5% 2%;
        margin-top: -5%;
    }
    .works-gallery .gallery-item {
        width: 30vw;
        height: 20vh;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 10%;
        gap: 20px;
        margin: 3% 1%;
        align-content: center;
    }
    .works-gallery .gallery-item:hover {
        background-size: 170%;
        background-position: center;
        transition: 0.3s;
    }
    .works-gallery {
        text-align: center;
    }
    .gallery-btn {
        margin: 0 auto;
    }

}

/* DESKTOP */
@media screen and (min-width: 1300px) {

    .services{
        height: 60vh;
    }
    .service-details{
        flex-direction: row;
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input[type=text], input[type=email], textarea{
        width: 50%;
    }

    /* --- */

    header nav{
        display: none;
    }
    .hero hgroup h1{
        display: none;
    }
    .hero hgroup p{
        display: none;
    }
    .hero {
        height: 80vh;
        margin-top: -100px;
        margin-bottom: 10%;
    }
    .work .section-headline-cta {
        font-family: "Algi-Sans-Medium";
        font-weight: 100;
        padding: 0 10%;
    }
    .work .section-headline-cta button {
        margin-top: 0%;
        margin-right: 0%;
    }
    .works-gallery .gallery-item {
        width: 25vw;
        height: 30vh;
    }
    .works-gallery .gallery-item:hover {
        background-size: 170%;
        background-position: center;
        transition: 0.3s;
    }

    .testimonials-wrapper{
        display: flex;
        flex-direction: row;
        margin-left: -10%;
        width: 95vw;
        justify-content: space-between;
    }
    .testimonials-item p {
        width: 26.5vw;
        text-align: center;
        margin-bottom: 7%;
    }
    .testimonials-item h5 {
        margin-bottom: 1%;
    }
}


/* XL SCREENS DESKTOP */
@media screen and (min-width: 1900px) {
    
    main, footer{
        max-width: 1900px;
        margin: 0 auto;
    }

}